
@{

    var videos = (List<Video>) ViewData["Videos"];// Cast the list
}

<div class="Videos">
    <h1>My Videos</h1>
    @foreach ( Video video in videos )
    {
    <video src="@Url.Content(video.Path)" controls>No Supported Video Player</video>
    }
</div>
