@model Cucklist.Models.HomeViewModels.IndexViewModel

@{

}


<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <h1>Clips</h1>
            @foreach ( Audio clip in Model.Clips )
            {
            <audio src="@clip.Path" controls>your browser no audio support</audio>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>Videos</h1>
            @foreach ( Video video in Model.Videos )
            {
            <video src="@video.Path" controls>No Video Player</video>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>Images</h1>
            @foreach ( Image image in Model.Images )
            {
            <img src="@image.Path" controls />
            }
        </div>
    </div>
</div>

